/* Meyer reset */

* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Color Theme Swatches in RGBA - represents color palette for this site*/

.plum { 
  color: rgba(166, 88, 94, 1);
 
}
.mauve { 
  color: rgba(140, 108, 126, 1);
}

.red { 
  color: rgba(242, 25, 5, 1); 
}

.black { 
  color: rgba(38, 11, 9, 1); 
}

.salmon { 
color: rgba(242, 76, 61, 1); 
}

.white {
color: #FFFFFF;
background-color: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Montebello-Sans';
  src: url('Font/Montebello-Sans.ttf') format('truetype');
}

.primaryFont {
font-family: 'Poppins', sans-serif;
}

.montebello {
font-family: 'Montebello-Sans',truetype;
font-weight: lighter6
}

body {
  font-size: 14px;
  color: #444;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.home {
  background-image: linear-gradient(0deg,rgba(0,0,0,0), rgba(0, 0, 0, 0)), url("https://i.ibb.co/7YLXGsq/alt.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness 0%;

}

a {
  color: white;
  font-weight: 900;
  line-height: 20px;
}

a:hover {
  font-weight: bolder;
}


li {
  list-style-type: none;
}


nav {
  height: 75px;
  padding: 1%;
  /*background-color: #aaa;*/
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #FFFFFF;
  z-index: 1;
  background-color: rgba(38, 11, 9, 1);
}
  
.navbar:hover {
  border: 1px solid rgba(140, 108, 126, 1);
}



footer {
  height: 65px;
}
       
h1 {
  position: fixed;
  padding: 10px 10px 10px 10px; 
  top: 0;
  z-index: 1;
  left: 1%;
  text-align: center;
  font-size: 14px;  
  font-family: 'Montebello-Sans',truetype;
  font-weight: lighter;
}

.headshot {
  position: fixed;
  display: inline-block;
  width:40px;
  height:40px;
  filter: opacity(65%) sepia(100%);
  border-radius: 20px;
  left: 110px;
 }

h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 200px;
  color: white;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:10px 15px 0px 15px;
  color:#F5F4F4;
  border:0;
  font-size:1.8em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index: 2;
}


.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 18px;
  padding-left: 120px;
}

.menu:hover {
  font-size: 19px;
}

.noDeco{
text-decoration: none;
}

h3 {
  font-size: 20px;
  color: rgba(38, 11, 9, 1);
  text-align: center;
  padding: 5px;
  font-family:  'Montebello-Sans', truetype;
  text-transform: uppercase;
  font-weight: lighter;
}

.hero {
  padding-top: 20%;
  padding-bottom: 20%;
  font-size: 45px;
  text-align: center;
  font-family: 'Montebello-Sans', truetype;
  font-weight: 100;
}

section {
  min-height: 200px;
  padding: 4%;
}

p {
  padding: 1%;
  color: rgba(38, 11, 9, 1); 
  border: 1px;
  line-height: 1.8;
}

.logo {
  width: 20px;
  height: 20px;
}

.text {
 z-index: 0;
}

.text:hover{
  border: 1px solid rgba(166, 88, 94, 1);
  border-radius: 10px;
}

.frenchText {
 font-family: 'Quicksand', sans-serif;
}

.menu {
  display: none;
  font-size: 15px;
  z-index: 2;
}

.bio {
  background-image: url("https://i.ibb.co/r66NBKD/Background-Main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.social,.social_icon {
  display: flex;
  justify-content: space-evenly;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 6px; 
  margin-right: 7px;
  padding-right: 11px;
}

.contact_icon {
  max-width: 130%;
}

.socialcontact_icon {
  max-width: 120%;
}

.projects {
  background-image: url("https://i.ibb.co/r66NBKD/Background-Main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5px;
  font-size: 0px; 
  height: 600px;

}

 h4 {
  font-size: 16px;
  text-align: center;
  font-family: 'Montebello-Sans', truetype;
  font-weight: lighter;
  line-height: 1.7;
 }

.container {
  display: inline-block;
  border-radius: 2%;
  height:  200px;
  width: 50%;
  text-align:center;
} 

.inner-two {
  height: 195px;
  padding-top: 15px;
}

.project-image {
  max-height: 90%;
  max-width: 90%;
  border-radius: 5%;
  border: 1px solid rgba(140, 108, 126, 1);
}

.project-image:hover {
  border: 2px solid rgba(242, 76, 61, 1);
}

.title {
  max-width: 100%;
  font-size: 12px;
  line-height: 1;
  padding-top: 5px;
  font-weight: 900;
  text-align: center;
  padding-bottom: 20px;
}

.details {
  display: inline-block;
  border-radius: 2%;
  font-size: 10px;
  color:#FFFFFF;
  text-align:center;
  height: 400px;
  width: 100%;
}
 
.details-image {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5%;
}

.details-image:hover {
  border: 2px solid rgba(166, 88, 94, 1);
}
  
.details2 {
  display: inline-block;
  border-radius: 2%;
  height: 300px;
  width: 33%;
  font-size: 10px;
  color: white;
  text-align:center;
}
 
.title2 {
  max-width: 100%;
  font-size: 12px;
  line-height: 1;
  padding-top: 5px;
  font-weight: 900;
  text-align: center;
  padding-bottom: 200px;
}

.basic{
  height: 15%;
  width: 15%;
  padding-left: 10px;
}



@media only screen and (min-width: 320px) {


.headshot {
  right: 50px;
  width: 40px;
  height: 40px;
}

.hamburger {
  font-size: 2rem;
}

.menu {
  padding-left: 145px;
}

.hero {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

.contact_icon {
  max-width: 130%;
}

.socialcontact_icon {
  max-width: 120%;
}

footer {
  height: 90px;
}

.bio {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h4 {
  font-size: 20px;
}

}



@media only screen and (min-width: 500px) {
nav {
  height: 80px;
}

h1 {
  font-size: 16px;
}

.headshot {
  left: 125px;
  width: 45px;
  height: 45px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 5px;
  padding-right: 10px;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color:#F5F4F4;
  padding: 20px 10px 0px 10px;
  font-size: 2rem;
}


.hero {
  font-size: 60px;
}

.contact_icon {
  display: flex;
  max-width: 50%;
  flex-grow: -1;
}

.socialcontact_icon {
  max-width: 40%;
}

 footer {
  height: 120px;
}

.details {
  height: 500px;
  padding-top: 25px;
}

.cuisine {
  height: 400px;
} 

.details2 {
  height:400px;
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.links{
margin-top: -70px;

}

}



@media only screen and (min-width: 800px) {
nav {
  height: 85px;
}

h1 {
  padding-top: 5px;
  font-size: 20px;
}

.headshot {
  left: 175px;
  width: 50px;
  height: 50px;
}


.hero {
  font-size: 70px;
}


.bio {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.contact_icon {
  display: flex;
  max-width: 30%;
  flex-grow: -1;
}

.socialcontact_icon {
  max-width: 20%; 
}

footer {
  height: 120px;
}

.container {
  height:  300px;
} 

.projects {
  min-height: 900px;
}

.details {
  height: 650px;
  padding-top: 25px;
}

.cuisine {
  height: 650px;
}  

h4 {
  font-size: 28px;  
 }

.title, .title2 {
  font-size: 22px;
}

.links {
  margin-top: 5px;
}

.details2 {
  height: 500px;
}

.title2 {
 margin-top: 30px;
}

}



@media only screen and (min-width: 1600px) {
nav {
 height: 85px;
}

h1 {
  padding-top: 5px;
  font-size: 20px;
}

.headshot {
  left: 175px;
  width: 50px;
  height: 50px;
}

.hero {
  font-size: 80px;
}

h3 {
  font-size: 55px;
}

.bio {
  font-size: 27px;
}

h4 {
  font-size: 30px;
}

.title {
  font-size: 24px;
}

.projects {
  min-height: 1500px;
}

.container {
  height:  400px;
} 

.details {
  height: 1000px;
}

  .cuisine {
  height: 1000px;
} 

.details2 {
  height: 800px;
}

}

